.bookDetails{
  text-align: center;
}

.bold{
  font-weight: bold;
}

.coverBox {
  margin: 0;
  padding: 0;
  width: 100%;
}

.cover {
  margin: 0;
  
  font-size: 1.5rem;
  color: #212929;
  
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.reviewBox {
  width: 70%;
  margin:0 1rem;
}

.review {
  line-height: 1.5em;
 text-align:unset;
  
  
  
  margin: 0;
  margin-bottom: 0.25rem;
}

.author {
  font-style: italic;
  color: #566d6d;
  text-align: end;
  margin-right: 3rem;
}

.cover img {
  width: 100%;
  height: 25rem;
  min-width: 8rem;
}
